<div class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" (click)="isCollapsed = !isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">atlast-phish</a>
    </div>
    <div [collapse]="isCollapsed" class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li *ngFor="let item of menu" routerLinkActive="active">
            <a routerLink="{{item.link}}">{{item.title}}</a>
        </li>

      </ul>

    </div>
  </div>
</div>
